@media screen and (min-width: 1920px) {
  /* medium desktop styles */
  .header-container {
    background-color: black;
  }

}

@media screen and (max-width: 1919px) and (min-width: 1024px) {
  /* medium desktop styles */

  .header-container {
    background-color: blue;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  /* tablet styles */

  .header-container {
    background-color: red;
  }

}

@media screen and (max-width: 767px) {
  /* mobile styles */

  .header-container {
    background-color: black;
  }

}