.packages-container {
  width: 100%;
  margin: 0 auto;

  .box-container {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;

    text-align: -webkit-center;

    .package-box {
      height: 300px;
      background-color: #f8f8f8;
      max-width: 380px;
      margin-top: 25px;

      position: relative;
      padding-bottom: 50px;
      color: #00a7e1;
      text-transform: uppercase;

      margin-left: 5px;
      margin-right: 5px;

      .bold {
        font-weight: bold;
      }

      .title {
        padding-top: 20px;
      }

      .value {
        padding-top: 20px;
        font-size: 35pt;
      }

      .saver {
        padding-top: 5px;
        color: grey;
        text-transform: none;
      }

      .validTill {
        padding-top: 5px;
        text-transform: none;
      }

      .promoCode {
        padding-top: 20px;
        color: grey;
        text-transform: none;
      }

      .promoField {
        input {
          color: black;
          width: 80%;
          text-transform: none;
        }
      }

      .book {
        background-color: #00a7e1;
        color: white;
        height: 50px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        cursor: pointer;
        font-weight: bold;

        &:hover{
          background-color: white;
          color: #00a7e1;
          border-color: #00a7e1;
          border-style: inset;
          border-width: thin;
        }
      }
    }

    .promo {
      height: 350px !important;
      .book {
        background-color: red !important;

        &:hover {
          background-color: white !important;
          color: red !important;
          border-color: red !important;
        }
      }
    }
  }
}